<div class="offset-sm-4 col-sm-4">
  <table class="table table-borderless table-hover">
    <tbody>
      <tr>
        <th>手続き名</th>
        <td></td>
        <td>
		    	<%# @customer.last_name %>
	      </td>
      </tr>
      <tr class="brown-border">
        <th>日時</th>
	      <td></td>
	      <td>
		    	<%# @appointment.date %>
          <%# @appointment.time %>
	    	</td>
	    </tr>
	    <tr class="brown-border">
	      <th>場所</th>
	      <td></td>
	      <td><%# @appointment.place_name %></td>
	    </tr>
	    <tr class="brown-border">
	      <th>住所</th>
	      <td></td>
	      <td><%# @appointment.place_address %></td>
	    </tr>
    </tbody>
  </table>

  <table class="table table-borderless table-hover">
    <tbody>
      <tr>
        <th>持ち物</th>
        <td></td>
        <td>
		    	<%# @preparations.name %>
		    	<%# @preparations.amount %>
	      </td>
      </tr>
    </table>
    <table class="table table-borderless table-hover">
      <tr class="brown-border">
        <th>金員</th>
	      <td></td>
	      <td>
		    	<%# @preparations.price %>
	    	</td>
	    </tr>
	    <tr class="brown-border">
	      <th>金員合計</th>
	      <td></td>
	      <td><%# @preparations.priceの合計 %></td>
	    </tr>
    </tbody>
  </table>

  <table class="table table-borderless table-hover">
    <tbody>
      <tr class="brown-border">
        <th>備考</th>
	      <td></td>
	      <td>
		    	<%# @preparations.price %>
	    	</td>
	    </tr>
    </tbody>
  </table>

  <div class="row form-group">
    <div class="col-1"></div>
    <div>
      <%# link_to "スケジュール一覧へ戻る", admin_appointments_path, class: "btn btn-outline-dark" %>
    </div>
    <div class="col-1"></div>
    <div>
      <%# link_to "編集", edit_admin_appointment_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>