<!--attribute：appointmentのdateとカレンダーのdateを対応させる-->
<%= month_calendar(attribute: :date, events: appointments) do |date, appointments| %>
  <%= date.day %>
  <% appointments.each do |appointment| %>
    <div><%= link_to appointment.name, admin_customer_appointment_path(appointment.customer, appointment) %></div>
  <% end %>
<% end %>