<div class="container p-5">
  <div class="row p-3">
    <div class='mx-auto'>
      <div class="d-flex align-items-center justify-content-center p-3">
        <h1><strong>Contract Schedule</strong></h1>
      </div>
      <p class= "text-center">
        この度は、不動産売買物件へお申込みいただきまして、誠にありがとうございます。</br>
        こちらのサイトは、今後のお手続き日程等を一括で管理するスケジュールサイトです。</br>
        引き続き、お引渡しまで責任をもってサポートさせていただきますので、</br>
        何卒よろしくお願い申し上げます。
      </p>
    </div>
  </div>
</div>