<div class="container p-5">
  <div class="row p-3">
    <div class='mx-auto'>
      <div class="d-flex justify-content-center p-3">
        <h1><strong>Thank you!!</strong></h1>
      </div>
      <p class= "text-center">
        この度のお取引では、お引き渡しまでご一緒させていただき、誠にありがとうございました。</br>
        今後も不動産に関することで何かお手伝いさせていただけることがございましたら、</br>
        お気軽にご相談いただければと存じます。ぜひお問い合わせくださいませ。
      </p>
    </div>
  </div>
</div>