<div class="container p-5">
  <div class="row p-3">
    <div class='mx-auto'>
      <div class="d-flex align-items-center justify-content-center p-3">
        <h1><i class="fa-regular fa-calendar-days"></i><strong>Contract Schedule</strong></h1>
      </div>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row" style="padding: 20px;" >
          <%# if customer_signed_in? %>
            <%# link_to 'スケジュールを確認する',会員スケジュール一覧_path, class: "btn btn-outline-primary btn-block mb-3" %>
          <%# else %>
            <%= link_to 'スケジュールを確認する', new_customer_session_path, class: "btn btn-outline-primary btn-block mb-3" %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>