<div class = "col-md-3">
  <h2>買主</h2>
  <table class = "table">
    <tbody>
      <tr>
        <th>氏名</th>
        <td>
          <%# @customer.last_name %>
          <%# @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%# @customer.phone_number %></th>
      </tr>
      <tr>
        <th>進捗</th>
        <td><%# @customer.status %></th>
      </tr>
    </tbody>
  </table>
  <div class = "row">
    <%# link_to "詳細確認" admin_customer_path(customer.id), class: "btn btn-outline-secondary btn-block edit_user_69737" do %>
    <%# end %>
  </div>
</div>