<% if customer.errors.any? %>
  <%= customer.errors.count %>件のエラーが発生しました
  <ul>
    <% customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--application/layouts配下等にerrorメッセージを共通テンプレートを作成し、モデルで「comment」等の指定をする方法があるとのこと（実装後に学んだため、今回は実装しない）
（例）
  【layouts/_error_messages.html.erb】
    <%# if model.errors.any? %>
      <%#= model.errors.count %>件のエラーが発生しました
      <ul>
        <%# model.errors.full_messages.each do |message| %>
          <li><%#= message %></li>
        <%# end %>
      </ul>
    <%# end %>

  【views（「f」には、form_withで渡している値が入る】
    <%#= render 'layouts/error_messages', model: f.object %>

 こちらの方が、より簡潔なコードが書ける-->

