<div class="container mt-5 mb-5">
  <div class="row my-3">
    <div class='col-sm-8 offset-sm-1'>
      <h2 style="text-align:center;">買主情報</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-sm-4 col-sm-3">
    <%= render 'admin/customers/customer_show', customer: @customer %>
	  <div class="row form-group">
	    <div class="col-1"></div>
	    <div>
	      <%= link_to "スケジュール一覧へ戻る", admin_customer_appointments_path(@customer), class: "btn btn-outline-dark" %>
	    </div>
	    <div class="col-1"></div>
	    <div>
	      <%= link_to "編集", edit_admin_customer_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
</div>
