<table>
  <tbody>
    <% question.comments.each do |comment| %>
      <tr>
        <th>ご回答</th>
        <td><%= comment.body %></td>
        <td>
          <% if admin_signed_in? %>
            <% if comment.confirmation_status == true %>
              <%= "既読" %>
            <% else %>
              <%= "未読" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
