<table>
  <tbody>
      <% question.comments.each do |comment| %>
      <tr>
        <th>ご回答</th>
        <td><%= comment.body %></td>
      </tr>
        <%# if admin_signed_in? %>
          <%# if question.comments.confirmation_status? %>
            <%#= "既読" %>
          <%# else %>
            <%#= "未読" %>
          <%# end %>
        <%# end %>
      <% end %>
  </tbody>
</table>