<div class="d-flex justify-content-center p-3">
  <table class="table">
    <tbody>
      <% question.comments.each do |comment| %>
        <tr>
          <th style="width: 120px;">ご回答</th>
          <td><%= comment.body %></td>
          <td style="width: 120px; text-align:center;">
            <% if admin_signed_in? %>
              <% if comment.confirmation_status == true %>
                <p><%= "既読" %></p>
              <% else %>
                <p style="color: red;"><%= "未読" %></p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>