<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 mt-5">
    <table class="table">
      <tbody>
        <tr class="brown-border">
          <th>件名</th>
          <td><%= question.title %></td>
        </tr>
        <tr class="brown-border">
          <th>本文</th>
          <td><%= question.body %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>