<% if real_estate.errors.any? %>
  <%= real_estate.errors.count %>件のエラーが発生しました
  <ul>
    <% real_estate.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>