<table class = "table">
  <tbody>
    <tr>
      <th style= "width:90px">物件名</th>
      <!--if以降：存在していたら表示するという記述-->
      <td><%= real_estate.name if real_estate.present? %></td>
    </tr>
    <tr>
      <th style= "width:90px">所在地</th>
      <td><%= real_estate.address if real_estate.present? %></th>
    </tr>
    <tr>
      <th style= "width:90px">成約価格</th>
      <td><%= real_estate.price&.to_s(:delimited, delimiter: ',') if real_estate.present? %>万円</th>
    </tr>
  </tbody>
</table>