@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*ハンバーガーメニュー色指定（線）*/
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(77, 143, 218, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*ハンバーガーメニュー色指定（枠）*/
.navbar-toggler{
  border-color: white;
}

/*ハンバーガーメニュー色指定（背景）*/
.navbar-toggler{
  background-color: Transparent;
}

