<% if model.errors.any? %>
  <div class="alert alert-warning">
    <div class="alert-heading"> <%= model.errors.count %>件のエラーが発生しました</div>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>